\documentclass[../booklet.tex]{subfiles}

\begin{document}

\subsection[__TITLE__. {\it __AUTHORS__}]{__TITLE__}
__INDEXINFO__

\begin{center}
  {\it __AUTHORS__}
\end{center}
%\begin{minipage}{1\textwidth}
%\end{minipage}

\vskip 0.8cm

__ABSTRACT__

\end{document}
